In [1]:
list=[]

In [2]:
list1=[1,2,3]

In [5]:
print(list1)
max_list = [1,2,3,"New Form"]

[1, 2, 3]

In [6]:
list1

[1, 2, 3]

In [8]:
max_list

[1, 2, 3, 'New Form']

In [9]:
list_nested=[1,2,3,["A",1,2,3]]

In [18]:
list.append("Nalini")

In [22]:
list

['Nalini', 'Nalini', 'Nalini', 'Nivedita']

In [21]:
list.append("Nivedita")

In [47]:
list_name=["sayali","Sweetu","pooja","kritika"]

In [48]:
list.extend(list_name)

In [49]:
list

['Nivedita',
 'sayali',
 'Nalini',
 'pooja',
 'kritika',
 'sayali',
 'Sweety',
 'pooja',
 'kritika',
 ['sayali', 'Sweety', 'pooja', 'kritika'],
 'meena',
 'sayali',
 'Sweetu',
 'pooja',
 'kritika']

In [30]:
list.append(list_name)

In [31]:
list

['Nalini',
 'Nalini',
 'Nalini',
 'Nivedita',
 'sayali',
 'Nalini',
 'pooja',
 'kritika',
 'sayali',
 'Sweety',
 'pooja',
 'kritika',
 ['sayali', 'Sweety', 'pooja', 'kritika']]

In [50]:
list[12]

'Sweetu'

In [38]:
list.index("Sweety")

9

In [51]:
list.remove("Nalini")

In [45]:
list.append("meena")

In [52]:
list

['Nivedita',
 'sayali',
 'pooja',
 'kritika',
 'sayali',
 'Sweety',
 'pooja',
 'kritika',
 ['sayali', 'Sweety', 'pooja', 'kritika'],
 'meena',
 'sayali',
 'Sweetu',
 'pooja',
 'kritika']

In [53]:
list.append("Devki")

In [54]:
list

['Nivedita',
 'sayali',
 'pooja',
 'kritika',
 'sayali',
 'Sweety',
 'pooja',
 'kritika',
 ['sayali', 'Sweety', 'pooja', 'kritika'],
 'meena',
 'sayali',
 'Sweetu',
 'pooja',
 'kritika',
 'Devki']

In [55]:
list.insert(3,"Ena")

In [56]:
list

['Nivedita',
 'sayali',
 'pooja',
 'Ena',
 'kritika',
 'sayali',
 'Sweety',
 'pooja',
 'kritika',
 ['sayali', 'Sweety', 'pooja', 'kritika'],
 'meena',
 'sayali',
 'Sweetu',
 'pooja',
 'kritika',
 'Devki']

In [57]:
list.pop(4)

'kritika'

In [58]:
del list[6]

In [59]:
list

['Nivedita',
 'sayali',
 'pooja',
 'Ena',
 'sayali',
 'Sweety',
 'kritika',
 ['sayali', 'Sweety', 'pooja', 'kritika'],
 'meena',
 'sayali',
 'Sweetu',
 'pooja',
 'kritika',
 'Devki']

In [60]:
list.reverse()

In [61]:
list

['Devki',
 'kritika',
 'pooja',
 'Sweetu',
 'sayali',
 'meena',
 ['sayali', 'Sweety', 'pooja', 'kritika'],
 'kritika',
 'Sweety',
 'sayali',
 'Ena',
 'pooja',
 'sayali',
 'Nivedita']

In [62]:
list.pop(13)

'Nivedita'

In [63]:
list.reverse()
list

['sayali',
 'pooja',
 'Ena',
 'sayali',
 'Sweety',
 'kritika',
 ['sayali', 'Sweety', 'pooja', 'kritika'],
 'meena',
 'sayali',
 'Sweetu',
 'pooja',
 'kritika',
 'Devki']

In [66]:
list.pop(7)
list.pop(6)

['sayali', 'Sweety', 'pooja', 'kritika']

In [67]:
list

['sayali',
 'pooja',
 'Ena',
 'sayali',
 'Sweety',
 'kritika',
 'Sweetu',
 'pooja',
 'kritika',
 'Devki']

In [68]:
list.pop()

'Devki'

In [70]:
list.sort(reverse=True)
list

['sayali',
 'sayali',
 'pooja',
 'pooja',
 'kritika',
 'kritika',
 'Sweety',
 'Sweetu',
 'Ena']

In [72]:
list.append("Varsha")
list

['sayali',
 'sayali',
 'pooja',
 'pooja',
 'kritika',
 'kritika',
 'Sweety',
 'Sweetu',
 'Ena',
 'Varsha']

In [73]:
list.reverse()
list

['Varsha',
 'Ena',
 'Sweetu',
 'Sweety',
 'kritika',
 'kritika',
 'pooja',
 'pooja',
 'sayali',
 'sayali']

In [74]:
list.pop(0)

'Varsha'

In [75]:
list

['Ena',
 'Sweetu',
 'Sweety',
 'kritika',
 'kritika',
 'pooja',
 'pooja',
 'sayali',
 'sayali']

In [76]:
list.sort()
list

['Ena',
 'Sweetu',
 'Sweety',
 'kritika',
 'kritika',
 'pooja',
 'pooja',
 'sayali',
 'sayali']

In [83]:
list.pop(2)

'Sweety'

In [80]:
list

['Ena', 'Sweetu', 'Sweety', 'kritika', 'pooja', 'pooja', 'sayali']

In [81]:
list.sort()

In [84]:
list

['Ena', 'Sweetu', 'kritika', 'pooja', 'pooja', 'sayali']

In [85]:
list.clear()

In [86]:
list

[]

In [87]:
tuple

tuple

In [89]:
stuple=90,20,14

In [90]:
list_name

['sayali', 'Sweetu', 'pooja', 'kritika']

In [91]:
tuple(list_name)

('sayali', 'Sweetu', 'pooja', 'kritika')

In [92]:
set(list_name)

{'Sweetu', 'kritika', 'pooja', 'sayali'}

In [93]:
val=("new",)

In [94]:
type(val)

tuple

In [97]:
another = (18,)

In [98]:
type(another)

tuple

In [99]:
val1=("new")
val1=tuple("new")

In [100]:
type(val1)

tuple

In [101]:
def function1(a,b):
    c=a+b
    d=a/b
    e=a*b
    f=a-b
    
    return c,d,e,f

In [104]:
function1(10,5)

(15, 2.0, 50, 5)

In [105]:
type(function1(10,5))

tuple

In [106]:
opr=function1(10,5)

In [107]:
opr[0]

15

In [108]:
opr[1]

2.0

In [109]:
opr[2]

50

In [110]:
opr[:]

(15, 2.0, 50, 5)

In [111]:
opr[2:]

(50, 5)

In [112]:
opr[:2]

(15, 2.0)

In [113]:
string1="Great! You are learning in very good techonology!"

In [114]:
string1[1:5]

'reat'

In [116]:
string1[:21]

'Great! You are learni'

In [117]:
string1[:]

'Great! You are learning in very good techonology!'

In [121]:
string1[1:]

'reat! You are learning in very good techonology!'

In [122]:
string1[:24]

'Great! You are learning '

In [125]:
string1[9:]

'u are learning in very good techonology!'

In [127]:
string1[:60]

'Great! You are learning in very good techonology!'

In [129]:
string1[0:15]

'Great! You are '

In [131]:
string1[0:30]

'Great! You are learning in ver'

In [136]:
string1[1:2]

string1[0:3]
string1[0:4]
string1[:60]

'Great! You are learning in very good techonology!'

In [137]:
def function(a=5,b=2):
    c=a+b
    return c

In [147]:
def function(a,b):
    c=a+b
    d=a/b
    e=a*b
    f=a-b
    return c,d,e,f

In [148]:
function(5,5)

(10, 1.0, 25, 0)

In [151]:
string1[-3]

'g'

In [152]:
opr[-3:-1]

(2.0, 50)

In [153]:
string1[-30:1]

''

In [157]:
string1[-20:30]

'r'

In [158]:
string1[20:-2]

'ing in very good techonolog'

In [163]:
string1[0:-2]

'Great! You are learning in very good techonolog'

In [166]:
tup1=(1,2,3,4,[100,120,130,140],5,6,7,8,9,3)

In [167]:
tup1.count(2)

1

In [168]:
tup1.count(3)

2

In [170]:
tup1.index([100,120,130,140])

4

In [172]:
tup1[4].append("New")

In [173]:
tup1[4]

[100, 120, 130, 140, 'New']

In [175]:
tup1[4].pop()

'New'

In [176]:
tup1

(1, 2, 3, 4, [100, 120, 130, 140], 5, 6, 7, 8, 9, 3)

In [177]:
tup1[4].insert(1,"New")

In [178]:
tup1

(1, 2, 3, 4, [100, 'New', 120, 130, 140], 5, 6, 7, 8, 9, 3)

In [179]:
tup1[::-1]

(3, 9, 8, 7, 6, 5, [100, 'New', 120, 130, 140], 4, 3, 2, 1)

In [181]:
{11,2,3,}

{2, 3, 11}

In [182]:
{1,1,2,2}

{1, 2}

In [183]:
emp_set = set({})

In [184]:
set={}
type(set)

dict

In [1]:
emp_set=set({})
type(emp_set)

set

In [2]:
emp_set.add(1)

In [3]:
emp_set

{1}

In [4]:
emp_set.update({1,2,3,4,5})

In [5]:
emp_set

{1, 2, 3, 4, 5}

In [9]:
emp_set.add(9)

In [10]:
emp_set

{1, 2, 3, 4, 5, 9}

In [11]:
emp_set.discard(2)

In [12]:
emp_set

{1, 3, 4, 5, 9}

In [13]:
emp_set.discard(9)

In [14]:
emp_set

{1, 3, 4, 5}

In [15]:
emp_set.remove(2)

KeyError: 2

In [16]:
my_dict={1:"apple",2:"ball"}

In [17]:
my_dict

{1: 'apple', 2: 'ball'}

In [20]:
tup_list=[(1,"abc"),(2,20),("New",1234)]

In [21]:
dict_tup=dict(tup_list)

In [22]:
dict_tup

{1: 'abc', 2: 20, 'New': 1234}

In [23]:
dict_tup["NEW_KEY"]=[1,2,3,4]

In [24]:
dict_tup

{1: 'abc', 2: 20, 'New': 1234, 'NEW_KEY': [1, 2, 3, 4]}

In [28]:
dict_tup.get("New")

1234

In [27]:
dict_tup["New"]

1234

In [30]:
dict_tup["1"]=10

In [31]:
dict_tup

{1: 'abc', 2: 20, 'New': 1234, 'NEW_KEY': [1, 2, 3, 4], '12': 120, '1': 10}

In [34]:
dict_tup.pop('1')

10

In [35]:
dict_tup.popitem()

('12', 120)

In [36]:
dict_tup["new"]=["A","B","C","D"]

In [37]:
dict_tup

{2: 20, 'New': 1234, 'NEW_KEY': [1, 2, 3, 4], 'new': ['A', 'B', 'C', 'D']}