# List

In [1]:
x=10
x=x & 3
print(x)

2

In [2]:
x=10
x=x | 3
print(x)

11

In [3]:
x=10
x=x >> 3
print(x)

1

In [4]:
x=10
x=x << 3
print(x)

80

In [5]:
my_dict = {}


my_dict = {1: 'apple', 2: 'ball'}


my_dict = {'name': 'John', 1: [2, 4, 3]}


my_dict = dict({1:'apple', 2:'ball'})
print(type(my_dict))

print(my_dict)

my_dict = dict([(1,'apple'), ('abc','ball')])

print(my_dict)

<class 'dict'>
{1: 'apple', 2: 'ball'}
{1: 'apple', 'abc': 'ball'}

In [6]:
new_dict=dict([(1,[1,2,34])])
new_dict

{1: [1, 2, 34]}

In [7]:

my_dict = {'name1':'Jack', 'age': 26, 
           'name2':'bhupen', 'age': 19}

print(my_dict)
print(my_dict['name1'])

print(my_dict['age'])
print(my_dict.get('age'))

my_dict.get('address')

{'name1': 'Jack', 'age': 19, 'name2': 'bhupen'}
Jack
19
19

In [8]:

my_dict = {'name':'Jack', 'age': 26}
print(my_dict)

my_dict['age'] = 27

print(my_dict)

my_dict['address'] = 'Downtown'  

print(my_dict)

{'name': 'Jack', 'age': 26}
{'name': 'Jack', 'age': 27}
{'name': 'Jack', 'age': 27, 'address': 'Downtown'}

In [9]:
my_dict[1]="ABC"

In [10]:
my_dict

{'name': 'Jack', 'age': 27, 'address': 'Downtown', 1: 'ABC'}

In [11]:
dict([('roll_id' ,1),('name',"abc"),("class","F.Y"),("address",23)])

{'roll_id': 1, 'name': 'abc', 'class': 'F.Y', 'address': 23}

In [12]:

squares = {1: 1,  2: 4, 3: 9, 4: 16, 5:25}

In [13]:
squares

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [14]:

print(squares.pop(4))

16

In [15]:
squares

{1: 1, 2: 4, 3: 9, 5: 25}

In [16]:

print(squares.popitem())
squares

(5, 25)

{1: 1, 2: 4, 3: 9}

In [20]:
# iterating
stocks = {
        'IBM': 146.48,
        'MSFT':44.11,
        'CSCO':25.54
    }
    

for c in stocks:
    print("key : " ,c, "value : ", stocks[c])

key :  IBM value :  146.48
key :  MSFT value :  44.11
key :  CSCO value :  25.54

In [21]:
stocks["IBM"]

146.48

In [22]:
for index in stocks:
    print(index)

IBM
MSFT
CSCO

In [23]:
# nested dictionary
users = {1: {'name': 'John', 'age': '27', 'gender': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'gender': 'Female'}}

In [24]:
users

{1: {'name': 'John', 'age': '27', 'gender': 'Male'},
 2: {'name': 'Marie', 'age': '22', 'gender': 'Female'}}

In [25]:
users[2]["name"]

'Marie'

In [26]:
print(users[1]['name'])
print(users[2]['name'])
print(users[2]['age'])

John
Marie
22

In [27]:
new_dict= [{'a':{'x':10}},{'b':{'y':20}},{'c':{'z':18}}]
print(type(new_dict))
new_dict

<class 'list'>

[{'a': {'x': 10}}, {'b': {'y': 20}}, {'c': {'z': 18}}]

In [28]:
new_dict[0]['a']['x']

10

In [29]:
print(type(new_dict[0]))
new_dict_val0= new_dict[0]

<class 'dict'>

In [30]:
new_dict_val0

{'a': {'x': 10}}

In [31]:
new_dict_val0['a']['x']

10

In [35]:
my_list = [{'key': {'subkey': 1}}, {'key': {'subkey': 10}},
           {'key': {'subkey': 5}}]
print("Original List: ")
print(my_list)
type(my_list)

Original List:
[{'key': {'subkey': 1}}, {'key': {'subkey': 10}}, {'key': {'subkey': 5}}]

list

In [38]:
my_list[2]['key']['subkey']

5

In [39]:
my_list

[{'key': {'subkey': 1}}, {'key': {'subkey': 10}}, {'key': {'subkey': 5}}]

In [42]:
my_list.sort(key=lambda e: e['key']['subkey'], reverse=True)
print("Sorted List: ")
print(my_list)

Sorted List:
[{'key': {'subkey': 10}}, {'key': {'subkey': 5}}, {'key': {'subkey': 1}}]

In [44]:
rollno=input("roll number")
name = input("enter name") 
marks= int(input("Enter marks"))

roll number12
enter namenalu
Enter marks89

In [45]:
studinfo={}

In [46]:
studinfo["roll"]=rollno
studinfo["name"]=name
studinfo["marks"]=marks

In [47]:
studinfo

{'roll': '12', 'name': 'nalu', 'marks': 89}